/* Header Area */

.logo{
    width: 70px;
    height: 70px;
}

.letters{
    font-size: 23px;
    font-family: "Lora",serif;
    font-weight: 500;
}

.navbar{
    position: sticky;
}
.noborder{
    border: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* First Section */

.openingpics{
    height: 100vh;

    background: url("../assets/images/top-view-table.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#do-more{
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%,-50%);
    width: 100%; 

    color: whitesmoke;
    font-family: "Laro", serif;
    text-align: center;
}
#brand-call{
    font-size: 7vw;
    margin: 50px 50px 30px;
}
.btn-info{
    background-color: rgb(49, 83, 49);
    text-transform: uppercase;
    width: fit-content;
    font-size: 3vw; 
    font-style: oblique;
}

/* Second part */
h2{
    font-size: 60px;
    font-family: "Laro", serif;
    font-style: italic;
    font-weight: 500;
}
#second-part{
    text-align: center;
}
#second-part > p{
    font-family: "Roboto", sans-serif;
}
.search{
    color: #d2242a;
    font-family: "Lora", serif;
}

/* Third section */
.chicken-section{
    background: url(../assets/images/chicken-skewers.jpg) no-repeat center center ;
}
.offer > h3{
    margin-bottom: 15px;
}
.explore{
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
}
.grilled-section{
    background: url(../assets/images/grilled-chicken.jpg) no-repeat bottom center;
}
.container{
    margin-top: 10px;
    margin-bottom: 20px;
}
.condiment{
    background: url(../assets/images/indian-condi.jpg) no-repeat top center ;
}
.img-display{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.col-6{
    height: 300px;
}

/* Menu section */
#menu-header{
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 500;
}
#menu-section{
    background-color: rgb(78, 78, 78);
}


#menu1{
    background: url(../assets/images/sweet-pancakes.jpg) no-repeat center center;   
}
#menu2{
    background: url(../assets/images/assortment.jpg) no-repeat center center ;
}
#menu3{
    background: url(../assets/images/top-view-table.jpg) no-repeat center center ;
}
#menu1,
#menu2,
#menu3{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    border: 2px solid #ffffff;
}


/* fourth section */
#reward-section{
    margin: 50px;
    padding: 50px;
    background-color: rgb(26, 25, 25);
    color: white;
    height: 250px;
}
.reward-image{
    width: 150px;
    height: 150px;
}
#reward{
    
}



@media screen and (min-width: 1024px)  {
   .collapse{
    margin-left: 400px;
   }
 
}
 

@media screen and (max-width: 576px)  {
   .condiment,
   .chicken-section,
   .grilled-section{
    height: 100px;
   }
   .col-md-gap {
    margin-bottom: 20px;
   }
   #reward-section{
    margin: 0;
    padding: 30px;
    height: 400px;
}
}  


@media (min-width: 768px) {
    .row-cols-md-gap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .col-md-gap {
        flex: 0 0 calc(33.33% - 20px); /* Adjust the desired gap value */
        max-width: calc(33.33% - 20px); /* Adjust the desired gap value */
        margin-bottom: 20px; /* Adjust the desired vertical gap value */
    }
}